<!DOCTYPE html>
<html>

<head>
    <title>Brandom 1.0.0</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="photon/css/photon.css">
    <link href="bootstrap4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="fontawesome/css/font-awesome.css">
</head>

<body>
    <div class="window">
        <header class="toolbar toolbar-header">
            <h1 class="title" style="padding: 5px">Brandom 1.0.0</h1>
        </header>

        <div class="window-content">
            <div class="pane-group">
                <div class="pane-sm sidebar" v-if="bootstrap == false">
                    <nav class="nav-group">
                        <h5 class="nav-group-title">Menu</h5>
                        <a href="bingos.html" class="nav-group-item" style="text-decoration: none; color: black">
                            <span class="icon icon-docs"></span>
                            Bingos
                        </a>
                        <a href="notas_versao.html" class="nav-group-item" style="text-decoration: none; color: black">
                            <span class="icon icon-doc-text"></span>
                            Notas
                        </a>
                        <a href="creditos.html" class="nav-group-item" style="text-decoration: none; color: black">
                            <span class="icon icon-book"></span>
                            Créditos
                        </a>
                    </nav>
                </div>
                <div class="pane" style="padding: 50px">
                    <div v-if="bootstrap == false">
                        <h3>
                            <strong>Geração de Bingos</strong>
                        </h3>
                        <!--<div class="form-group">
                            <label>Promotor Do Bingo</label>
                            <input v-model="proBingo" type="text" class="form-control" placeholder="Promotor do Bingo">
                        </div>
                        <div class="form-group">
                            <label>1º Prêmio</label>
                            <input v-model="proBingo" type="text" class="form-control" placeholder="1º Prêmio">
                        </div>
                        <div class="form-group">
                            <label>2º Prêmio</label>
                            <input v-model="proBingo" type="text" class="form-control" placeholder="2º Prêmio">
                        </div>
                        <div class="form-group">
                            <label>3º Prêmio</label>
                            <input v-model="proBingo" type="text" class="form-control" placeholder="3º Prêmio">
                        </div>
                        <div class="form-group">
                            <label>4º Prêmio</label>
                            <input v-model="proBingo" type="text" class="form-control" placeholder="4º Prêmio">
                        </div>-->
                        <div class="form-group">
                            <label>Quantidade</label>
                            <select class="form-control" required="true" v-model="qtdBingos">
                                <option value="" selected>Quantidade</option>
                                <option value="16">16</option>
                                <option value="20">20</option>
                                <option value="40">40</option>
                                <option value="60">60</option>
                                <option value="80">80</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Data</label>
                            <input v-model="dateB" type="text" class="form-control" placeholder="mm/dd/yyyy">
                        </div>
                        <div class="form-group">
                            <label>Horário</label>
                            <input v-model="hour" type="text" class="form-control" placeholder="Horário do Bingo">
                        </div>
                        <div class="form-group">
                            <label>Valor</label>
                            <input v-model="value" type="text" class="form-control" placeholder="Valor do Bingo">
                        </div>
                        <div class="form-group">
                            <label>Local</label>
                            <input v-model="locale" type="text" class="form-control" placeholder="Local">
                        </div>
                        <div class="form-group">
                            <label>Promotor do Evento</label>
                            <input v-model="promoter" type="text" class="form-control" placeholder="Promotor">
                        </div>
                        <button type="button" class="btn btn-form btn-primary" @click="generateBingos()"
                            style="margin:5px">Gerar
                            Bingos</button>
                        <button type="button" class="btn btn-form btn-primary" @click="pdfWindow()"
                            style="margin:5px">Imprimir</button>
                        <button type="button" class="btn btn-form btn-primary" @click="viewNormal()"
                            style="margin:5px">Visualizar</button>
                        <button type="button" class="btn btn-form btn-primary" @click="cleanBingos()"
                            style="margin:5px">Recomeçar</button>
                        <!-- <button type="button" class="btn btn-form btn-primary" @click="printView()" style="margin:5px">Imprimir View</button> -->
                    </div>
                </div>
                <div class="pane" style="padding: 40px">
                    <h4 style="text-align: center">
                        <strong>Visualização Simplificada(apenas exemplo)</strong>
                    </h4>
                    <hr>
                    <h5>Código: 4587965214</h5>
                    <h5>Data: {{dateB}}</h5>
                    <h5>Horário: {{hour}}</h5>
                    <h5>local: {{locale}}</h5>
                    <h5>Promotor do evento ou título: {{promoter}}</h5>
                    <hr>
                    <table class="table table-bordered table-striped colortable">
                        <tr>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style="text-align: center">01</h5>
                            </td>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style="text-align: center">45</h5>
                            </td>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style="text-align: center">70</h5>
                            </td>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style="text-align: center">55</h5>
                            </td>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style="text-align: center">66</h5>
                            </td>
                        </tr>
                        <tr>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style="text-align: center">11</h5>
                            </td>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style="text-align: center">5</h5>
                            </td>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style="text-align: center">17</h5>
                            </td>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style="text-align: center">66</h5>
                            </td>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style="text-align: center">12</h5>
                            </td>
                        </tr>
                        <tr>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style="text-align: center">03</h5>
                            </td>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style="text-align: center">14</h5>
                            </td>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style="text-align: center">75</h5>
                            </td>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style="text-align: center">44</h5>
                            </td>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style="text-align: center">13</h5>
                            </td>
                        </tr>
                        <tr>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style=" text-align: center">9</h5>
                            </td>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style=" text-align: center">74</h5>
                            </td>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style=" text-align: center">34</h5>
                            </td>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style=" text-align: center">6</h5>
                            </td>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style=" text-align: center">15</h5>
                            </td>
                        </tr>
                        <tr>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style="text-align:center">5</h5>
                            </td>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style="text-align:center">18</h5>
                            </td>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style="text-align:center">36</h5>
                            </td>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style="text-align:center">22</h5>
                            </td>
                            <td style="border: solid 3px #d7d7d7">
                                <h5 style="text-align:center">44</h5>
                            </td>
                        </tr>
                    </table>
                    <hr>
                    <h5>Valor: R$ {{value}}</h5>
                </div>
            </div>
        </div>
    </div>
    <script src="scripts/screens/bingos/bingos.js"></script>
    <script src="bootstrap/js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>