<!DOCTYPE html>
<html>

<head>
    <title>Brandom 1.0.0</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="photon/css/photon.css">
    <link href="bootstrap4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="fontawesome/css/font-awesome.css">
</head>

<body>
    <div class="window">
        <header class="toolbar toolbar-header">
            <h1 class="title" style="padding: 5px">Brandom 1.0.0</h1>
        </header>
        <div class="window-content">
            <div class="pane-group">
                <div class="pane-sm sidebar" v-if="bootstrap == false">
                        <nav class="nav-group">
                                <h5 class="nav-group-title">Menu</h5>
                                <a href="bingos.html" class="nav-group-item" style="text-decoration: none; color: black">
                                    <span class="icon icon-docs"></span>
                                    Bingos
                                </a>
                                <a href="notas_versao.html" class="nav-group-item" style="text-decoration: none; color: black">
                                    <span class="icon icon-doc-text"></span>
                                    Notas
                                </a>
                                <a href="creditos.html" class="nav-group-item" style="text-decoration: none; color: black">
                                    <span class="icon icon-book"></span>
                                    Créditos
                                </a>
                            </nav>
                </div>
                <div class="pane" style="padding: 10px">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Notas da versão 1.0.0</h5>
                            <p>
                                Bem vindo ao Brandom, esperamos que ele possa ajudar
                                você a autmatizar suas tarefas de geração de cartelas de bingo,
                                nessa versão temos as opções, geração de cartelas, visualização e impressão.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>